:markdown

  Do you have experience uncovering a product's core benefits, marketing to an enterprise buyer,
  or navigating a sales process? Product marketers are at the intersection of all teams.
  A Product Marketing Manager is a collaborative and process-driven product marketer who helps
  craft GitLab's enterprise story, align to our sales process, and deliver effective go-to-market
  and sustain campaigns.

  The Product Marketing Manager role includes 4 key areas of focus:

  * Enterprise-focused product messaging
  * Enterprise-focused GTM
  * Sales enablement
  * Market research
